arc4==0.0.4
beautifulsoup4==4.9.3
boltons==20.2.1
construct==2.10.67
cryptography==3.4.7
docker==5.0.0
esprima==4.0.1
eml-parser>=1.17
git+https://github.com/jshlbrd/python-entropy.git   # v0.11 as of this freeze (package installed as 'entropy')
html5lib==1.1
inflection==0.5.1
jsbeautifier==1.13.13
libarchive-c==2.9
lief==0.12.3
lxml==4.9.1
M2Crypto==0.38.0
nested-lookup==0.2.22
numpy==1.22.1
olefile==0.46
oletools==0.56.1
opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
pefile==2019.4.18
pgpdump3==1.5.2
pyelftools==0.27
pygments==2.9.0
pylzma==0.5.0
pytesseract==0.3.7
python-docx==0.8.10
python-magic==0.4.22
py-tlsh==4.7.2
pyyaml>=5.4.1
pyzbar==0.1.8
pytz>=2022.1
rarfile==4.0
redis==3.5.3
requests==2.25.1
rpmfile==1.0.8
signify==0.3.0
speakeasy-emulator==1.5.2
ssdeep==3.4
tldextract==3.1.0
tnefparse==1.4.0
xmltodict==0.12.0
pytest==7.2.0
pytest-mock==3.10.0
